.user-serch-wrapper {
  margin-top: 115px;
  text-align: center;
}

.chatapp {
  font-size: 80px;
  font-weight: 500;
}

.logo-C {
  color: #ea4335;
}

.logo-h {
  color: #fbbc05;
}

.logo-a {
  color: #4285f4;
}

.logo-t {
  color: #4285f4;
}

.logo-A {
  color: #34a853;
}

.logo-p {
  color: #ea4335;
}

.logo-p2 {
  color: #fbbc05;
}

.serch-form {
  width: 45%;
  padding: 8px;
  margin-top: 20px;
  font-size: 16px;
}
